# Jekyll site build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler config and gems
.bundle/
vendor/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo 